body{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;

}
.header{
    height: 100%;
    width: 100%;
    
    background-size: cover;
    background-position:center;
}
.main{
    width: 50%;
    height: 45%;
    background: rgb(144, 144, 158);
    color:#111047;
    text-align: center;
    padding: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);

}

.btn{
    padding: 10px 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size:large ;
    font-weight: 500;
    border: none;
    outline: none;
    background:#7876eb;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease-in-out;

}

.btn:hover{
    background:#9998e4;
    color: #ffffff;
}

.container{
    width: 900px;

}