.navbar{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    background: linear-gradient(to bottom, white, #dddddd);
}
.navbar .logo{ 
    font-size: 20px;
    font-weight: 900px;
    margin: 0 20px;
}
.icon-bar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }
    .icon-bar a{
        text-align: center;
        padding: 20px 30px;
        font-size: 25px;
        color: darkblue;
    }

    .menu-items
    {
        font-size:large;
        color:black;
        padding: 5px;
    }
    .icon-bar a:hover
    {
        background-color:snow;
        color: black;
    }

    .title-heading
    {
        font-size: 25px;
        font-family:Georgia, 'Times New Roman', Times, serif;
        color: darkblue;
    }

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.container{
    width:100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(photos/stock1.jpg);
    background-position: center;
    background-size: cover;
}
.row{
    display: flex;
    height: 88%;
    align-items: center;
}
.col{
    flex-basis: 50%;

}
.video1{
    top:-60px;
    position: relative;
    left:50px;
}
.video2{
    position:relative;
    top: 200px;
    left:-350px;
}
h1{
    color:#fff;
    font-size:100px;

}
h2{
    color: #fff;
    font-size: 35px;
}
p,li{
    color:rgb(168, 168, 168);
    font-size: 15px;
    line-height: 15px;
}


button{
    width: 180px;
    color:#000;
    font-size: 15px;
    padding: 12px 0;
    background: #fff;
    border:0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
    cursor: pointer;

}
.card{
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
     background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}

.card1{
    background-image: url(photos/bitcoin.jpg);   
}
.card2{
    background-image: url(photos/ethereum.jpg);   
}
.card3{
    background-image: url(photos/solana.jpg);   
}
.card4{
    background-image: url(photos/shiba2.jpg);   
}

.card:hover{
    transform: translateY(-10px);
}

h4{
    color: rgb(168, 168, 168);
    text-shadow: 0 0 5px rgb(72, 89, 167)9;
    font-size: 20px;
}
footer{
    position: absolute;
    background: radial-gradient(circle at 100%, #333, #333 50%, #eee 75%, #333 75%);
    height: auto;
    width: 100%;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #fff;}
    
    .footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;}
    
    .footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;}
    
    .footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;}
    
    .socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;}
    
    .socials li{
    margin: 0 10px;}
    
    .socials a{
    text-decoration: none;
    color: #fff;}

    .socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;}
    
    .socials a:hover i{
    color: aqua;}
    
    .footer-bottom{
    background: #000;
    width: 100%;
    padding: 20px 0;
    text-align: center;}
    
    
    .footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;}
    
    .footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;}
    